.wh_search_input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

#searchForm > div {
  width: initial;
  min-width: 300px;
}

.after-search {
  padding-left: 10px;
}