<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:whc="http://www.oxygenxml.com/webhelp/components">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index Terms</title>
        <script type="text/javascript" src="${oxygen-webhelp-assets-dir}/lib/jquery/jquery-3.1.1.min.js"><!----></script>

        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="${oxygen-webhelp-assets-dir}/lib/bootstrap/css/bootstrap.min.css" />
        
        <!-- Bootstrap Optional theme -->
        <link rel="stylesheet"
            href="${oxygen-webhelp-assets-dir}/lib/bootstrap/css/bootstrap-theme.min.css" />

        <link rel="stylesheet" type="text/css" href="${oxygen-webhelp-assets-dir}/app/indexterms-page.css?buildId=${oxygen-webhelp-build-number}" />
        
        <script type="text/javascript">
            $(document).ready(function () {
                $('.wh_indexterms_link').find('a').text('');
            });
        </script>
        
        <script data-main="${oxygen-webhelp-assets-dir}/app/indexterms-page.js"
                src="${oxygen-webhelp-assets-dir}/lib/requirejs/require.js"></script>
        
        <!-- Skin resources -->
        <whc:webhelp_skin_resources/>
        <!-- EXM-36950 - Expand the args.hdf parameter here -->
        <whc:include_html href="${args.hdf}"/>
        <whc:include_html href="${webhelp.fragment.head}"/>
    </head>
    <body class="wh_terms_page">
        <a href="#content" class="sr-only sr-only-focusable"><whc:macro value="${i18n(jump.to.index)}" /></a>
        <!-- EXM-36950 - Expand the args.hdr parameter here -->
        <whc:include_html href="${args.hdr}"/>
        <whc:include_html href="${webhelp.fragment.before.body}"/>
        
        <whc:include_html href="${webhelp.fragment.header}"/>        
        <div class="container-fluid" id="content">
            <div class="row">
                <whc:webhelp_index_terms class="col-xs-12 col-sm-12 col-md-12 col-lg-12"/>
            </div>
        </div>
        
        <whc:include_html href="footer.xml"/>
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="${oxygen-webhelp-assets-dir}/lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <whc:include_html href="${webhelp.fragment.after.body}"/>
    </body>
</html>