
.wh_child_links {
    border: none;
    padding: 0;
}

.wh_child_links ul {
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}

.wh_child_links .link {
    margin: 1em;
    padding: 1em;
    width: 30%;
    min-width: 300px;
    min-height: 140px;
    border: 1px solid #939393;
    
    color: #494949;
    font-weight: 400;
    font-size: 1em;
    margin-top: 0.5em;
    text-align: justify;
}

@media only screen and (max-width: 1200px) {
    .wh_child_links .link {
        width: 45%;
    }
}


@media only screen and (max-width: 767px) {
    .wh_child_links .link {
        width: 100%;
        min-width: 240px;
    }
}

.wh_child_links .link strong {
    display: block;
    width: 100%;
}

.wh_child_links .link a {
    display: block;
    width: 100%;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    color: #2372de !important;
    font-size: 1.3em;
    font-weight: bold;                
}