*[class ~= "topic/ol"] {
  counter-reset: item-count;
}

/*
 * Start the counter at X-1, so the first list item
 * will be numbered as X (since the counter increments on the item).
*/
*[class ~= "topic/ol"][class ~= "start-3"] {
  counter-reset: item-count 2;
}
*[class ~= "topic/ol"][class ~= "start-4"] {
  counter-reset: item-count 3;
}
*[class ~= "topic/ol"][class ~= "start-5"] {
  counter-reset: item-count 4;
}

*[class ~= "topic/ol"] > *[class ~= "topic/li"] {
  counter-increment: item-count;
}

/* Add counter marker for each list level */
*[class ~= "topic/ol"] > *[class ~= "topic/li"]::marker {
  content: counter(item-count, decimal) ". ";
}
*[class ~= "topic/ol"][type = a] > *[class ~= "topic/li"]::marker {
  content: counter(item-count, lower-alpha) ". ";
}
*[class ~= "topic/ol"][type = A] > *[class ~= "topic/li"]::marker {
  content: counter(item-count, upper-alpha) ". ";
}
*[class ~= "topic/ol"][type = i] > *[class ~= "topic/li"]::marker {
  content: counter(item-count, lower-roman) ". ";
}
*[class ~= "topic/ol"][type = I] > *[class ~= "topic/li"]::marker {
  content: counter(item-count, upper-roman) ". ";
}