dl {
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: content-box;
}
.dt {
  width: 10%;
  margin: 0;
  
}

.dt::after {
  content: " - "
}

.dd {
  width: 90%;
  margin-left: 0;
  margin-bottom: 0;
}