.wh_header_flex_container .wh_search_input {
  padding: 0;
  background: none;
}

#searchForm > div {
  width: 100%;
}

.wh_top_menu_and_indexterms_link {
    flex-grow: .9;
}

.wh_search_textfield {
    height: 2em;
}

.wh_search_button {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

@media only screen and (min-width : 768px) {
    .wh_top_menu_and_indexterms_link.navbar-collapse {
        display: flex !important;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .wh_header_flex_container {
        flex-wrap: nowrap;
    }

    .wh_header_flex_container .wh_search_input {
        padding-left: 1em;
        min-width: 150px;
    }
    
    .wh_publication_title {
        min-width: 150px;
    }
}

.ui-autocomplete {
  z-index: 10000;
}