.tiles-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
    padding: 1.5em;
    margin: 1em;
}


.tiles-group-content {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    width: 100%;
}

.tiles-group-title {
    font-size: 1.8em;
    font-weight: 300;
}

.tiles-group-shortdesc {
    color: #0D1A2B;
    font-size: 1.1em;
}