.videos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ECF2F9;
  margin-bottom: 1em;
}

.videos-header {
  font-size: 1.8em;
  padding: 1em 0;
}

.videos-content {
  display: flex;
  width: 100%;
  padding: 0.5em;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.video-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.video-title {
  padding-top: 10px;
}