.welcome {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.welcome-logo {
    height: auto;
    max-width: 96px;
    background-color: #fff;
    border-radius: 50%;
}
.welcome-text {
    padding: 5px;
}